.container {
  text-align: center;
  padding: 20px;
  background-color: var(--background);
  color: var(--foreground);
  height: 100dvh;
}

.header {
  padding: 15px;
  display: inline-block;
  margin: 0 auto 20px;
  & h1 {
    color: white;
    font-family: var(--font-inter), sans-serif;
    font-size: 4.5rem;
    font-size: clamp(3rem, 6.235vw + 2.853rem, 8rem);
    font-weight: 800;
    letter-spacing: -0.03em;
    background: linear-gradient(45deg, var(--gradient-1), var(--gradient-2), var(--gradient-3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.selectContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 8px;
  gap: 8px;
  max-width: 1000px;
  margin: 0 auto;
}
.select {
  font-family: var(--font-inter), sans-serif;
  width: 140px;
  padding: 0 2px;
  border: none;
  border-radius: var(--border-radius);
  border: var(--border);

  background-color: var(--background);
  color: var(--foreground);
}
.chatBox {
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--chatBox-background);

  & > div {
    position: relative;
    color: var(--message-color);
    text-align: left;
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px;
    height: 65dvh;
    height: clamp(40dvh, calc(65dvh - 7vw), 65dvh);

    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: var(--chatBox-background);
    line-height: 1.5;

    -webkit-mask-image: linear-gradient(
      to bottom,

      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 5%,
      rgba(0, 0, 0, 1) 95%,
      rgba(0, 0, 0, 0) 100%
    );
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 5%,
      rgba(0, 0, 0, 1) 98%,
      rgba(0, 0, 0, 0) 100%
    );
    &::-webkit-scrollbar {
      display: none; /* Hide the scrollbar */
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--button-placeholder);
      border-radius: var(--border-radius);
    }
  }
}
@media (min-width: 1000px) {
  .chatBox {
    max-width: 1000px;
    margin: 0 auto;
  }
}

.message {
  margin: 0;
  padding: 10px;
  border-radius: var(--border-radius);
  font-size: 1.2em;
  .name {
    font-weight: 700;
  }
  .you {
    color: var(--user-name);
  }

  .model {
    color: var(--model-name);
  }
}

.message.user {
  align-self: flex-end;
}

.message.assistant {
  align-self: flex-start;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.input {
  padding: 10px;
  width: 100%;
  max-width: 910px;
  border-radius: var(--border-radius);
  border: var(--border);
  background-color: var(--input-background);
}
.input::placeholder {
  color: var(--button-placeholder);
  opacity: 1;
}

.button {
  padding: 10px 20px;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--button-background);
  color: var(--button-color);
  cursor: pointer;
  height: 40px;
}
.button:hover {
  background-color: var(--button-background-hover);
}

.bold {
  color: var(--md-bold);
  font-weight: bold;
}

.list {
  padding-left: 20px;
}

.listItem {
  margin-bottom: 5px;
}
.codeContainer {
  background-color: rgb(13, 35, 52);
  padding-top: 10px;
  border-radius: var(--border-radius) !important;
  margin-top: 10px;
  & div {
    margin-left: 20px;
  }
}
.codeBlock {
  margin-top: 10px;
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;

  & code {
    padding-top: 30px !important;
    padding-bottom: 20px !important;
  }
}
